.jumbotron{
	background-color:#A9A4A4 ;
	color: #DE6F5A ;
	/*Permite que el titulo quede con un marge y este visible*/
	margin-top: 50px;
}
footer{
	padding: 10px 10px 0 10px;
	background-color: #A9A4A4;
	margin-bottom: 0px;
	margin-top: 10px;
	color: #DE6F5A;
}